html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #ffffff;

  background: #000000;
}
canvas {
  display: block;
}
main {
  padding: 20px;
}
#controls {
  margin-bottom: 20px;
}
label {
  display: inline-block;
  width: 150px;
}
input[type="range"] {
  width: 300px;
}
